<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shion Assistance</title>

    <!--FAVICON-->
    <link rel="icon" type="images/x-icon" href="../static/images/android-chrome-512x512.png" th:href="@{images/android-chrome-512x512.png}" class="icon" />
    
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/forgot-password.css" th:href="@{/forgot-password.css}" />

    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <!--Logo-->
        <h1>Forgot Password?</h1>
        <center>
            <b class="shion">Shion</b></b>
        </center>
    </header>
    
    <!--Forgot password form-->
    <center>
        <br><h4>Enter the email address or mobile phone number associated with your Shion account.</h4><br>
        <table>
            <tr><td><input  class="enter-here" type="text"></td></tr>
            <a><tr><td align="center"><input class="submit-button" type="button" value="Continue" href="#"></td></tr>
        </table>
    </center>

    <!--Footer-->
        <footer>
            <p>&#169; 2023, Shion.com, Inc. or its affiliates</p>
        </footer>
</body>
</html>